.opinioes{
    h3{
        color: black;
        margin-bottom: 15px;
    }

    .text,.title{
        margin-bottom: 5px;
    }
    
    .text{
        color: #505050;
    }

    .author{
        font-size: 14px;
    }
}