//===============================================
// Icons map
//===============================================

$icons: (
    angle-down: '\f107',
    angle-up: '\f106',
    envelope: '\f003',
    facebook: '\f09a',
    map-marker: '\f041',
    play: '\f04b',
    search: '\f002',
    twitter: '\f099',
    navicon: '\f0c9',
    youtube: '\f16a'
);

//===============================================
// Icons mixin
//===============================================

// For adding font icons to elements using CSS pseudo-elements
// http://jaydenseric.com/blog/fun-with-sass-and-font-icons
@mixin icon($position: before, $icon: false, $styles: true) {
    @if $position == both {
        $position: 'before, &:after';
    }
    // Either a :before or :after pseudo-element, or both, defaulting to :before
    &:#{$position} {
        @if $icon {
            // A particular icon has been specified
            content: "#{map-get($icons, $icon)}";
        }
        @if $styles {
            // Supportive icon styles required
            font-style: normal;
            font-weight: normal;
            font-family: $icon-font-family;
        }
        // Include any extra rules supplied for the pseudo-element
        @content;
    }
}

//===============================================
// Links mixin
//===============================================

@mixin link-underline($color,$hover-color,$border-color) {
    color: $color;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease;
    &:focus, &:active {
        color: $hover-color;
        border-bottom: 1px solid $border-color;
    }
    @include breakpoint(xlarge) {
        &:hover, &:focus, &:active {
            color: $hover-color;
            border-bottom: 1px solid $border-color;
        }
    }
}

//===============================================
// Helper's styles
//===============================================

%mini-arrow {
    &:before {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
        top: 10px;
        left: -30px;
        border-style: solid;
        border-width: 4px 0 4px 9px;
        border-color: transparent transparent transparent $light-gray;
    }
}

.hide{
    display: none;
}